SECRET_KEY=finex-dev-key
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=Finex_db
DB_PORT=3306
EMPRESA_ID=1

# Opcional para OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT=common

# Redirect URI sugeridas para configurar en Google/Microsoft
GOOGLE_REDIRECT_URI=http://127.0.0.1:5000/login/google/callback
MICROSOFT_REDIRECT_URI=http://127.0.0.1:5000/login/microsoft/callback
